<!DOCTYPE html>
<html lang="en">
    <head>
        <head>
            
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="/index.css">
        <link rel="icon"
        type="image.png"
        href="cold.png"> 

            <title><%= bot.name %> | About Cold </title>
        </head>    
    <body>
       
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
      
        <%- include('../views/header') -%>
        
        <div class="d-flex justify-content-center head">
            <h1><b>What is Cold for?</b></h1>
        </div>

        <div class="d-flex justify-content subtext" style="font-family: 'Nunito';">
            <p>Cold is a multi purpose bot. Starting from economy to Youtube search and Google search, kick to custom prefix. If you like Cold, please do consider voting and adding cold to your server. More commands will be coming soon! If you want me to add your commands then tell them in the feedback by using !feedback <your message>.  You can even change the prefix to what ever you want by using !settings prefix <your prefix>. 
            </p>
        </div>

        

    </body>           
</html>
</head>