<nav class="navbar navbar-expand-lg navbar-dark bg-color">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="toggle">
            <a class="navbar-brand" href="/">
            <img src="<%= bot.avatar %>" alt="<%= bot.name %>" width="30" height="30" class="d-inline-block align-top">  
          <b><%= bot.name %></b>
                    </a>
          <ul class="navbar-nav me-auto mb-2-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/commands">
              Commands</a>
            </li>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= bot.invite %>">
              Invite</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">
             About</a>
            </li>
  
          </ul>
          <form class="d-flex">
            <a class="nav-link" href="https://discordbotlist.com/bots/cold/upvote">
            <button class="btn btn-online-success" type="button"><b>Vote Cold</b>
            </button>
          </a>
        </form>

        <form class="d-flex">
          <a class="nav-link" href="https://youtube.com/c/V1Bro1">
          <button class="btn btn-online-success" type="button"><b>Sub to V1Bro</b>
          </button>
        </a>
      </form>

      <form class="d-flex">
        <a class="nav-link" href="https://discord.gg/B7JRTwf6gN">
        <button class="btn btn-online-success" type="button"><b>Support Server</b>
        </button>
      </a>
    </form>

    
</nav>

<style scoped>


.navbar-dark {
  background-color: #212529;
}


li-navbar {
  font-family: 'Nunito', sans-serif;
  padding-top: 2px;
}


</style>