<!DOCTYPE html>
<html lang="en">
  
    <head>
       
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <meta name="description" content="Cold is a multi-purpose bot. Starting from economy to social commands, kick to custom prefix. There’s even a complete shop system which is very fun and easy to use!">
          <meta name="theme-color" content="#228dff">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="/index.css">

    <link rel="icon"
    type="image.png"
    href="cold.png"> 
        <title><%= bot.name %> | Home </title>
    </head>    
    <body>
    
      <div class="loader_bg">
        <div class="loader"></div>
    </div>
      
        <%- include('../views/header') -%>

        <div class="d-flex justify-content-center head">
            <h1><b>Build the best Discord Server</b></h1>
        </div>
        <div class="d-flex justify-content-center subtext" >
            <p>A bot with mini-games like rps etc, meme commands , moderation , economy commands and more!!! Add Cold to your server now!!!
            </p>
        </div>


        <div class="container custom-1" style="font-family: 'Nunito';">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/900276987761922094/944847586425200650/ttt.png">
            <h3 class="align-self-start"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-controller" viewBox="0 0 16 16">
              <path d="M11.5 6.027a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-1.5 1.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2.5-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-1.5 1.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm-6.5-3h1v1h1v1h-1v1h-1v-1h-1v-1h1v-1z"/>
              <path d="M3.051 3.26a.5.5 0 0 1 .354-.613l1.932-.518a.5.5 0 0 1 .62.39c.655-.079 1.35-.117 2.043-.117.72 0 1.443.041 2.12.126a.5.5 0 0 1 .622-.399l1.932.518a.5.5 0 0 1 .306.729c.14.09.266.19.373.297.408.408.78 1.05 1.095 1.772.32.733.599 1.591.805 2.466.206.875.34 1.78.364 2.606.024.816-.059 1.602-.328 2.21a1.42 1.42 0 0 1-1.445.83c-.636-.067-1.115-.394-1.513-.773-.245-.232-.496-.526-.739-.808-.126-.148-.25-.292-.368-.423-.728-.804-1.597-1.527-3.224-1.527-1.627 0-2.496.723-3.224 1.527-.119.131-.242.275-.368.423-.243.282-.494.575-.739.808-.398.38-.877.706-1.513.773a1.42 1.42 0 0 1-1.445-.83c-.27-.608-.352-1.395-.329-2.21.024-.826.16-1.73.365-2.606.206-.875.486-1.733.805-2.466.315-.722.687-1.364 1.094-1.772a2.34 2.34 0 0 1 .433-.335.504.504 0 0 1-.028-.079zm2.036.412c-.877.185-1.469.443-1.733.708-.276.276-.587.783-.885 1.465a13.748 13.748 0 0 0-.748 2.295 12.351 12.351 0 0 0-.339 2.406c-.022.755.062 1.368.243 1.776a.42.42 0 0 0 .426.24c.327-.034.61-.199.929-.502.212-.202.4-.423.615-.674.133-.156.276-.323.44-.504C4.861 9.969 5.978 9.027 8 9.027s3.139.942 3.965 1.855c.164.181.307.348.44.504.214.251.403.472.615.674.318.303.601.468.929.503a.42.42 0 0 0 .426-.241c.18-.408.265-1.02.243-1.776a12.354 12.354 0 0 0-.339-2.406 13.753 13.753 0 0 0-.748-2.295c-.298-.682-.61-1.19-.885-1.465-.264-.265-.856-.523-1.733-.708-.85-.179-1.877-.27-2.913-.27-1.036 0-2.063.091-2.913.27z"/>
            </svg><b> Mini-games</b></h3>
            <p>
                Cold contains a variety of mini-games extending from RPS (Rock Paper Scissors) to Tic Tac Toe. All these are Single-Player games in which you can participate and play with Cold itself according to your will!
            </p>
        </div>

        <div class="container pt-10 custom-2" style="font-family: 'Nunito';">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/900276987761922094/944848520366661642/shop.png">
            <h3><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
              <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
              <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
              <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
            </svg><b> Economy System</b></h3>
            <p>
                Cold consists of an Economy System that covers all of the basic and advanced features of any Economy System out there. This makes it a competition for you and your friends as to who gets the most Coldurrency! There are lots of ways in which you can earn Coldurrency!
            </p>
        </div>

        <div class="container custom-1 pt-16" style="font-family: 'Nunito';">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/904286222069923880/913399934697480212/muted-img.png">
            <h3 class="align-self-start"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-shield-check" viewBox="0 0 16 16">
              <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
              <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg><b> Moderation System</b></h3>
            <p>
                Cold has a very promising moderation system, it goes over all the essentials of moderation. It has all basic stuff required for the staff of your server! (e.x. Kick, Ban, Mute, etc.) It also has other advanced things! (e.x. add-role , remove-role, set-prefix prefix etc.)

            </p>
        </div>

        <div class="container pt-20 custom-2" style="font-family: 'Nunito';">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/900276987761922094/944853004140560414/userinfo.png">
            <h3 class="align-self-start"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
              <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
            </svg><b> Utility Commands</b></h3>
            <p>
                Cold has a Utility System unlike any other bots out there! It ranges from using a calculator (Built-In) to finding out the weather in your locality, and much more. 
            </p>
        </div>
    
        <div class="container custom-1 pt-25" style="font-family: 'Nunito';">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/900276987761922094/944850849040056370/corona.png">
            <h3 class="align-self-start"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
              <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
            </svg><b> Detailed Corona Command</b></h3>
            <p>
                Cold’s Fun commands are very distinctive compared to the other bots. Ranging from emojify to sending memes, reversing your text, and much more! These commands are rarely in use which makes Cold a unique Discord bot.
            </p>
        </div>

        <div class="container pt-21 custom-9" style="font-family: 'Nunito';">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/904286222069923880/913400847038292028/unknown.png">
            <h3 class="align-self-start"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
              <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
            </svg><b> Custom Embed Builder Command</b></h3>
            <p>
                Cold contains a command which can create custom embeds for you! Just type <strong>ye embed ${title} ${color in caps or hex code} ${description}</description></color></title></strong>. This will successfully create your custom embed! Have fun using this command!
            </p>
        </div>

        <div class="container custom-1 pt-29" style="font-family: 'Nunito';">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/900276987761922094/928966437207412776/unknown.png">
            <h3 class="align-self-start"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
              <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/>
              <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/>
            </svg><b> Best Reminder Command</b></h3>
            <p>
                Cold's reminding system is one of the best features of Cold! It will automatically remind you whatever you wanted to do in you DM's! So now you will never be late on anything. Have fun!
            </p>
            </div>

            <div class="container pt-21 custom-9" style="font-family: 'Nunito';">
                <img class="custom-image" src="https://cdn.discordapp.com/attachments/900276987761922094/928971718498852914/unknown.png">
                <h3 class="align-self-start"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-list-ol" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
                  <path d="M1.713 11.865v-.474H2c.217 0 .363-.137.363-.317 0-.185-.158-.31-.361-.31-.223 0-.367.152-.373.31h-.59c.016-.467.373-.787.986-.787.588-.002.954.291.957.703a.595.595 0 0 1-.492.594v.033a.615.615 0 0 1 .569.631c.003.533-.502.8-1.051.8-.656 0-1-.37-1.008-.794h.582c.008.178.186.306.422.309.254 0 .424-.145.422-.35-.002-.195-.155-.348-.414-.348h-.3zm-.004-4.699h-.604v-.035c0-.408.295-.844.958-.844.583 0 .96.326.96.756 0 .389-.257.617-.476.848l-.537.572v.03h1.054V9H1.143v-.395l.957-.99c.138-.142.293-.304.293-.508 0-.18-.147-.32-.342-.32a.33.33 0 0 0-.342.338v.041zM2.564 5h-.635V2.924h-.031l-.598.42v-.567l.629-.443h.635V5z"/>
                </svg><b> Guess The Number Command</b></h3>
                <p>
                    Guess The Number Command. This command is very fun as you will have to guess the number the bot is thinking. It will always be under 10,000. If you dont get the number, it will provide hints throughout the time limit given!
                </p>
            </div>
    
            <div class="container custom-1 pt-30" style="font-family: 'Nunito';">
                <img class="custom-image" src="https://cdn.discordapp.com/attachments/900276987761922094/929262042110623814/unknown.png">
                <h3 class="align-self-start"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-music-note-list" viewBox="0 0 16 16">
                  <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
                  <path fill-rule="evenodd" d="M12 3v10h-1V3h1z"/>
                  <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"/>
                  <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                </svg><b> Lyrics Command</b></h3>
                <p>
                    Cold has a lyrics command which will send the full lyrics of any song in the world! It will provide every single word that was used in a song!
                </p>
                </div>
          
                <div class="d-flex justify-content-center" style="font-family: Nunito;">
            <h1><b>Who developed/made Cold?</b></h1>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <p> </p>
        </div>


        <center>
        <div class="row">
              <div class="col-sm-6">
                <div class="card border-danger bg-info mb-3" style="width: 22rem; font-family: Nunito;">
                  <img class="card-img-top" src="https://cdn.discordapp.com/avatars/730202045273079838/02a87f60514368da0cca0db7df5d56ef.webp?size=100" width="305" height="300" class="center">
                  <div class="card-body">
                    <h5 class="card-title"><b>Developer:-</b></h5>
                    <p class="card-text">Cold is made by: ||V1Bro_YT||#9983. He is the person who made this bot! Subscribe to him at: V1Bro.</p>
                  </div>
                </div>
              </div>
              
           <div class="col-sm-6">
                <div class="card border-danger bg-secondary mb-3" style="width: 22rem; font-family: Nunito;">
                    <img class="card-img-top" src="https://cdn.discordapp.com/avatars/504661267462750219/eff5733d2382579b822e44f22af5dae3.webp?size=100" width="305" height="300" class="center">
              <div class="card-body">
                <h5 class="card-title">Co-Owner:-</b></h5
                <p class="card-text">The person who helped to restructure this bot is:- retinal scan#2086. He is also the co-owner of the bot!</p>
              </div>
            </div>
          </div>
        </center>
              
              <center>
              <div class="col-sm-6">
                <div class="card border-danger bg-success mb-3" style="width: 22rem; font-family: Nunito;">
                    <img class="card-img-top" src="https://cdn.discordapp.com/avatars/787589701976588298/eb53f54bb49a1f829a193aa254c901c5.webp?size=100" width="305" height="300" class="center">
              <div class="card-body">
                <h5 class="card-title">Helper:-</b></h5
                <p class="card-text">The person who helped to make this bot is:- offline exams i am pog dead !#3599. He helped to make this bot and some of the commands!</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card border-danger bg-warning mb-3" style="width: 22rem; font-family: Nunito;">
              <img class="card-img-top" src="https://cdn.discordapp.com/avatars/740586320463921194/a1d8757893f59b851f800ec00ced73a5.webp?size=100" width="305" height="300" class="center">
              <div class="card-body">
                <h5 class="card-title"><b>Website Helper:-</b></h5>
                <p class="card-text">The person who made the description for this website is:- Linz#1122. He helped to make all of the descriptions above.</p>
              </div>
            </div>
          </div>
        </div>
        </center>
        
         <footer class="page-footer font-small stylish-color-dark pt-4">
        <footer class="text-center text-white" style="background-color: #383c40; height: 300">
        <div class="container text-center text-md-left">
      
          <div class="row">
      
            <div class="col-md-4 mx-auto">
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ABOUT THE WEBSITE</h5>
              <p>This is the official website for the Discord bot named Cold. Cold is a bot made by ||V1Bro_YT||#9983 .</p>
      
            </div>
      
            <hr class="clearfix w-100 d-md-none">
            
            <div class="col-md-2 mx-auto">
      
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">DISCORD</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="https://discord.gg/wTZZ3AENcx">Server 1</a>
                </li>
                <li>
                  <a href="https://discord.gg/chRkJYWfQd">Server 2</a>
                </li>
              </ul>
      
            </div>
      
            <hr class="clearfix w-100 d-md-none">
      
            <div class="col-md-2 mx-auto">
      
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">YOUTUBE</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="https://youtube.com/c/V1Bro1">Channel</a>
                </li>
              </ul>
            </div>
      
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
      
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTACT</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="https://discord.com/app">Discord: ||V1Bro|YT||#9983</a>
                </li>
                <li>
                  <a href="./contact">Email</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="http://cold-abc.herokuapp.com/">cold-abc.herokuapp.com</a>
          </div>
      </footer>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script>
          setTimeout(function(){
              $('.loader_bg').fadeToggle();
          }, 1500);
      </script>

       </body>  
    </html>  

    <style>
        
li {
  font-family: 'Nunito', sans-serif;
}
    </style>
