<!DOCTYPE html>
<html lang="en">
  
    <head>
       
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <meta name="description" content="Cold is a multi-purpose bot. Starting from economy to social commands, kick to custom prefix. There’s even a complete shop system which is very fun and easy to use!">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="/index.css">

    <link rel="icon"
    type="image.png"
    href="cold.png"> 
        <title><%= bot.name %> | Home </title>
    </head>    
    <body>
    
      <div class="loader_bg">
        <div class="loader"></div>
    </div>
      
        <%- include('../views/header') -%>

        <div class="d-flex justify-content-center head">
            <h1><b>Build the best Discord Server</b></h1>
        </div>
        <div class="d-flex justify-content-center subtext" >
            <p>A bot with mini-games like rps etc, meme commands , moderation , economy commands and more!!! Add Cold to your server now!!!
            </p>
        </div>


        <div class="container custom-1" style="font-family: 'Nunito';">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/904286222069923880/904615430616916018/rps-img.png">
            <h3 class="align-self-start"><b>Mini-games</b></h3>
            <p>
                Cold contains a variety of mini-games extending from RPS (Rock Paper Scissors) to Tic Tac Toe. All these are Single-Player games in which you can participate and play with Cold itself according to your will!
            </p>
        </div>

        <div class="container pt-10 custom-2" style="font-family: 'Nunito';">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/904286222069923880/904649532715991071/economy-img.png">
            <h3><b>Economy System</b></h3>
            <p>
                Cold consists of an Economy System that covers all of the basic and advanced features of any Economy System out there. This makes it a competition for you and your friends as to who gets the most Coldurrency! There are lots of ways in which you can earn Coldurrency!
            </p>
        </div>

        <div class="container custom-1 pt-16" style="font-family: 'Nunito';">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/904286222069923880/913399934697480212/muted-img.png">
            <h3 class="align-self-start"><b>Moderation System</b></h3>
            <p>
                Cold has a very promising moderation system, it goes over all the essentials of moderation. It has all basic stuff required for the staff of your server! (e.x. Kick, Ban, Mute, etc.) It also has other advanced things! (e.x. add-role , remove-role, set-prefix prefix etc.)

            </p>
        </div>

        <div class="container pt-20 custom-2" style="font-family: 'Nunito';">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/904286222069923880/904645197332377611/weather-img.png">
            <h3 class="align-self-start"><b>Utility Commands</b></h3>
            <p>
                Cold has a Utility System unlike any other bots out there! It ranges from using a calculator (Built-In) to finding out the weather in your locality, and much more. 
            </p>
        </div>
    
        <div class="container custom-1 pt-25" style="font-family: 'Nunito';">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/904286222069923880/904614074493575189/corona-img.png">
            <h3 class="align-self-start"><b>Detailed Corona Command</b></h3>
            <p>
                Cold’s Fun commands are very distinctive compared to the other bots. Ranging from YT Search to sending memes, reversing your text, and much more! These commands are rarely in use which makes Cold a unique Discord bot.
            </p>
        </div>

        <div class="container pt-21 custom-9" style="font-family: 'Nunito';">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/904286222069923880/913400847038292028/unknown.png">
            <h3 class="align-self-start"><b>Custom Embed Builder Command</b></h3>
            <p>
                Cold contains a command which can create custom embeds for you! Just type <strong>ye embed ${title} ${color in caps or hex code} ${description}</description></color></title></strong>. This will successfully create your custom embed! Have fun using this command!
            </p>
        </div>

        <div class="container custom-1 pt-29" style="font-family: 'Nunito';">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/904286222069923880/905071652063293511/corona-img.png">
            <h3 class="align-self-start"><b>Best Reminder Command</b></h3>
            <p>
                Cold's reminding system is one of the best features of Cold! It will automatically remind you whatever you wanted to do in you DM's! So now you will never be late on anything. Have fun!
            </p>
            </div>

            <div class="container pt-21 custom-9" style="font-family: 'Nunito';">
                <img class="custom-image" src="https://cdn.discordapp.com/attachments/904286222069923880/906788027576254504/guessthenumber-img.png">
                <h3 class="align-self-start"><b>Guess The Number Command</b></h3>
                <p>
                    Guess The Number Command. This command is very fun as you will have to guess the number the bot is thinking. It will always be under 10,000. If you dont get the number, it will provide hints throughout the time limit given!
                </p>
            </div>
    
            <div class="container custom-1 pt-30" style="font-family: 'Nunito';">
                <img class="custom-image" src="https://cdn.discordapp.com/attachments/904286222069923880/906812974344323102/lyrics-img.png">
                <h3 class="align-self-start"><b>Lyrics Command</b></h3>
                <p>
                    Cold has a lyrics command which will send the full lyrics of any song in the world! It will provide every single word that was used in a song!
                </p>
                </div>
          
                <div class="d-flex justify-content-center" style="font-family: Nunito;">
            <h1><b>Who developed/made Cold?</b></h1>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <p> </p>
        </div>


        <center>
        <div class="row">
              <div class="col-sm-6">
                <div class="card border-danger bg-info mb-3" style="width: 22rem; font-family: Nunito;">
                  <img class="card-img-top" src="https://cdn.discordapp.com/avatars/730202045273079838/90fd867117fc8d58bc738c82927fd2b3.webp?size=96" width="305" height="300" class="center">
                  <div class="card-body">
                    <h5 class="card-title"><b>Developer:-</b></h5>
                    <p class="card-text">Cold is made by: ||V1Bro_YT||#9983. He is the person who made this bot! Subscribe to him at: V1Bro.</p>
                  </div>
                </div>
              </div>
              

              <div class="col-sm-6">
                <div class="card border-danger bg-success mb-3" style="width: 22rem; font-family: Nunito;">
                    <img class="card-img-top" src="https://cdn.discordapp.com/avatars/787589701976588298/43bf53de4bcee09a7cc61c9cba38c7ff.webp?size=100" width="305" height="300" class="center">
              <div class="card-body">
                <h5 class="card-title"><b>Bot Helper:-</b></h5
                <p class="card-text">The person who helped to make this bot is:- Percy#3599. He helped to make this bot and some of the commands!</p>
              </div>
            </div>
          </div>
        </center>

         <center>
          <div class="col-sm-6">
            <div class="card border-danger bg-warning mb-3" style="width: 22rem; font-family: Nunito;">
              <img class="card-img-top" src="https://cdn.discordapp.com/avatars/740586320463921194/a1d8757893f59b851f800ec00ced73a5.webp?size=100" width="305" height="300" class="center">
              <div class="card-body">
                <h5 class="card-title"><b>Website Helper:-</b></h5>
                <p class="card-text">The person who made the description for this website is:- Linz#1122. He helped to make all of the descriptions above.</p>
              </div>
            </div>
          </div>
        </div>
        </center>
        
         <footer class="page-footer font-small stylish-color-dark pt-4">
        <footer class="text-center text-white" style="background-color: #383c40; height: 300">
        <div class="container text-center text-md-left">
      
          <div class="row">
      
            <div class="col-md-4 mx-auto">
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ABOUT THE WEBSITE</h5>
              <p>This is the official website for the Discord bot named Cold. Cold is a bot made by ||V1Bro_YT||#9983 .</p>
      
            </div>
      
            <hr class="clearfix w-100 d-md-none">
            
            <div class="col-md-2 mx-auto">
      
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">DISCORD</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="https://discord.gg/wTZZ3AENcx">Server 1</a>
                </li>
                <li>
                  <a href="https://discord.gg/chRkJYWfQd">Server 2</a>
                </li>
              </ul>
      
            </div>
      
            <hr class="clearfix w-100 d-md-none">
      
            <div class="col-md-2 mx-auto">
      
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">YOUTUBE</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="https://youtube.com/c/V1Bro1">Channel</a>
                </li>
              </ul>
            </div>
      
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
      
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTACT</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="https://discord.com/app">Discord: ||V1Bro|YT||#9983</a>
                </li>
                <li>
                  <a href="./contact">Email</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="http://cold-abc.herokuapp.com/">cold-abc.herokuapp.com</a>
          </div>
      </footer>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script>
          setTimeout(function(){
              $('.loader_bg').fadeToggle();
          }, 1500);
      </script>

       </body>  
    </html>  

    <style>
        
li {
  font-family: 'Nunito', sans-serif;
}
    </style>
