.head {
    padding-top: 250px;
    color: rgb(0, 8, 42);
    line-height: 1.3;
     text-align: center;
}

.subtext {
    padding-bottom: 31px;
    color: rgb(255, 255, 255);
    line-height: 1.6;
    text-align: center;
}

.container {
    max-width: 1300px;
}
