@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;900&display=swap');

.command_head {
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(0, 0, 53);
}

#category {
  border-radius: 5px;
  padding-bottom: 50px;
}

#category a {
  background-color: #36393f;
  color: white;
}

#category a.active{
  background-color: rgb(130, 132, 255);
  border-color: rgb(130, 132, 255);
}

.accordion-item {
  background-color: #36393f;
  color: #c9daee;
}

.accordion-button {
  color: rgb(0, 9, 131);
}

.accordion-button:not(.collapsed) {
  color: rgb(255, 255, 255);
  background-color: rgb(130, 132, 255);
}

.accordion-body {
  background-color: #36393f;
}

 .accordion-button:not(.collapsed)::after {
  background-image: url(http://www.clker.com/cliparts/P/b/R/e/O/r/arrow-blue-down-md.png);
  transform: rotate(180deg);

}
.accordion-button::after {
  background-image: url(http://www.clker.com/cliparts/P/b/R/e/O/r/arrow-blue-down-md.png);
}

.accordion-button:focus {
  z-index: 0;
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.25rem transparent;
}

.accordion-item:first-of-type {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}


.accordion-item:last-of-type {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

#commands_menu {
  font-family: 'Nunito', Sans-serif;
}


/* ANIMATION */

.slide-up-fade-in{
    animation: slide-up-fade-in ease 1.4s;
}

@keyframes slide-up-fade-in{
  0% {
      opacity:0;
      transform:  translate(0px,40px)  ;
  }
  100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
  }
}

li-navbar {
  font-family: 'Nunito', sans-serif;

}