@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;900&display=swap');

body {
    background: linear-gradient(-45deg, #f76336, #fa3243, #2352d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar-brand img {
    border-radius: 70px;
}



form.d-flex button {
    background-color: rgb(0, 143, 71);
    color: rgb(128, 0, 0);
    outline: 0px;
    z-index: 2px;
    border: 2px;
}



form.d-flex button:hover {
    background-color: rgb(0, 184, 92);
}



.head {
    padding-top: 250px;
    color: rgb(0, 8, 42);
    line-height: 1.3;
    text-align: center;
    font-family: 'Nunito';
}

.subtext {
    padding-bottom: 310px;
    color: rgb(219, 219, 219);
    line-height: 1.3;
    text-align: center;
}

.container {
    max-width: 1400px;
}


.pt-10 {
    padding-top: 5rem!important;
}



.pt-16 {
    padding-top: 20rem!important;
}



.pt-20 {
    padding-top: 5rem!important;
}



.pt-25 {
    padding-top: 19rem!important;
    padding-bottom: 6rem!important;
}

.pt-21 {
    padding-top: 4rem!important;
    padding-bottom: 18rem!important;
}

.pt-29 {
    padding-top: 4rem!important;
    padding-bottom: 6rem!important;
}

.pt-30 {
    padding-top: 4rem!important;
    padding-bottom: 14rem!important;
}

.card border-danger mb-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    border: 18px;
    border-radius: 34px;
    box-sizing: 50px;
    border-width: 4px;
    box-shadow: 0 18px 22px 0 rgba(0, 0, 0, 0.2),0 10px 80px 0 rgba(0, 0, 0, 0.19);
}



.custom-1 img {
    height: 270px;
    width: 510px;
    float: right;
    border-radius: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2),0 9px 40px 0 rgba(0, 0, 0, 0.19);
}

.custom-1 h3 {
    padding-top: 65px;
}

.custom-1 p {
    color: rgb(255, 255, 255);
    width: 40%;
}



.custom-2 img {
    height: 270px;
    width: 510px;
    float: left;
    border-radius: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2),0 9px 40px 0 rgba(0, 0, 0, 0.19);
}

.custom-2 h3 {
    padding-top: 65px;
    float: right;
    width: 40%;
}

.custom-2 p {
    float: right;
    width: 40%;
    color: rgb(255, 255, 255);
}


.custom-3 img {
    height: 270px;
    width: 510px;
    float: left;
    border-radius: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2),0 9px 40px 0 rgba(0, 0, 0, 0.19);
}

.custom-3 h3 {
    padding-top: 65px;
    float: right;
    width: 40%;
}

.custom-3 p {
    float: right;
    width: 40%;
    color: rgb(209, 209, 209);
}



.custom-4 img {
    height: 270px;
    width: 510px;
    float: left;
    border-radius: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2),0 9px 40px 0 rgba(0, 0, 0, 0.19);
}

.custom-4 h3 {
    padding-top: 90px;
    float: left;
    width: 40%;
}

.custom-4 p {
    float: right;
    width: 40%;
    color: rgb(209, 209, 209);
}




.custom-5 img {
    height: 270px;
    width: 510px;
    float: left;
    border-radius: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2),0 9px 40px 0 rgba(0, 0, 0, 0.19);
}

.custom-5 h3 {
    padding-top: 65px;
    float: left;
    width: 40%;
}

.custom-5 p {
    float: right;
    width: 50%;
    color: rgb(209, 209, 209);
}



.custom-9 img {
    height: 270px;
    width: 510px;
    float: left;
    border-radius: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2),0 9px 40px 0 rgba(0, 0, 0, 0.19);
}

.custom-9 h3 {
    padding-top: 100px;
    float: right;
    width: 40%;
}

.custom-9 p {
    float: right;
    width: 40%;
    color: rgb(209, 209, 209);
}

.custom-11 img {
    height: 270px;
    width: 510px;
    float: left;
    border-radius: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2),0 9px 40px 0 rgba(0, 0, 0, 0.19);
}

.custom-11 h3 {
    padding-top: 100px;
    float: right;
    width: 40%;
}

.custom-11 p {
    float: right;
    width: 40%;
    color: rgb(209, 209, 209);
}
/* MEDIA */

@media screen and (max-width: 967px) {
    .container img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400%;
        height: auto;
    }

    .pt-10 {
        padding-top: 10rem!important;
    }

    .pt-16 {
        padding-top: 2rem!important;
    }
    


    .pt-20 {
        padding-top: 1rem!important;
    }
    

    .pt-25 {
        padding-top: 15rem!important;
    }



    .pt-29 {
        padding-top: 15rem!important;
    }

    .pt-21 {
        padding-top: 5rem!important;
    }

    .custom-1 p {
        text-align: center;
        width: 100%;
    }

    .custom-1 h3 {
        text-align: center;

    }

    .custom-2 p {
        text-align: center;
        float: none;
        width: 100%;
    }

    .custom-2 h3 {
        float: none;
        text-align: center;
        width: 100%;
    }

    .custom-3 p {
        text-align: center;
        float: none;
        width: 100%;
    }

    .custom-3 h3 {
        float: none;
        text-align: center;
        width: 100%;
    }

    .custom-4 p {
        text-align: center;
        float: none;
        width: 100%;
    }

    .custom-4 h3 {
        float: none;
        text-align: center;
        width: 100%;
    }

    .custom-5 p {
        text-align: center;
        float: none;
        width: 100%;
    }

    .custom-5 h3 {
        float: none;
        text-align: center;
        width: 100%;
    }

    .custom-9 p {
        text-align: center;
        float: none;
        width: 100%;
    }

    .custom-9 h3 {
        float: none;
        text-align: center;
        width: 100%;
    }

    .custom-11 p {
        text-align: center;
        float: none;
        width: 100%;
    }

    .custom-11 h3 {
        float: none;
        text-align: center;
        width: 100%;
    }
  
.slide-up-fade-in{
    animation: slide-up-fade-in ease 1.4s;
}

@keyframes slide-up-fade-in{
  0% {
      opacity:0;
      transform:  translate(0px,40px)  ;
  }
  100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
  }
}
    li-navbar {
        font-family: 'Nunito', sans-serif;
    }
}
